<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <application
        android:name=".Bilimiao"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:icon="@mipmap/ic_bilimiao_33"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bilimiao_33_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bilimiao"
        android:largeHeap="true">
        <!-- 渠道 -->
        <meta-data
            android:name="app_channel"
            android:value="${channel}" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bilibili" />
                <data android:scheme="bilimiao" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LogViewerActivity"
            android:label="@string/density_setting"
            android:theme="@style/Theme.Bilimiao"/>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/search"
            android:theme="@style/Theme.Bilimiao"/>
        <activity
            android:name=".activity.QRCodeActivity"
            android:label="@string/qrcode_scan"
            android:theme="@style/Theme.Bilimiao"/>
        <activity
            android:name=".activity.DensitySettingActivity"
            android:label="@string/density_setting"
            android:theme="@style/Theme.Bilimiao"/>
        <activity
            android:name="cn.a10miaomiao.bilimiao.cover.CoverActivity"
            android:exported="true"
            android:label="@string/view_cover"
            android:theme="@style/Theme.TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.a10miaomiao.bilimiao.download.DownloadService"/>
        <service
            android:name=".service.PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:permission="android.permission.BIND_MEDIA_BROWSER_SERVICE">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>